<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/template/template.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="title">
		<title>Add cv</title>
	</ui:define>

	<ui:define name="content">





		<section class="section-container"> <!-- Page content--> 
		<div class="row">
						<div class="col-lg-10">
							<div class="card">
								<div class="card-title">
									<h4>ADD cv</h4>

								<div class="card-body">
									<div class="basic-form">
			<h:form >
			  
					<label class="col-sm-5 col-form-label">Name of cv </label>
											<div  class="table table-hover table-dark">
												<h:inputText value="#{cvBean.nomCv}" id="n" required="true"
													type="text" class="form-control input-flat"
													placeholder="Input Flat" requiredMessage="The candidate password field is mandatory." />
                                    <h:message for="n" styleClass="alert-danger" />
											</div>
											<br></br>
											<label class="col-sm-2 col-form-label">Skills </label>
											<div  class="table table-hover table-dark">
												<h:inputText value="#{cvBean.skills}" id="ski" required="true"
													type="text" class="form-control "
													placeholder="Input Flat" requiredMessage="The candidate password field is mandatory." />
                                       <h:message for="ski" styleClass="alert-danger" />
											</div>
											<br></br>
											<label class="col-sm-2 col-form-label">Project </label>
											<div  class="table table-hover table-dark">
												
									   <h:inputTextarea   value="#{cvBean.project}" type="text" id="proj" required="true"
									   class="form-control " placeholder="Input Flat"
									     rows="3" requiredMessage="The candidate password field is mandatory." />
                                      <h:message for="proj" styleClass="alert-danger" />
											</div>
											<br></br>
											<label class="col-sm-2 col-form-label">Language </label>
											<div  class="table table-hover table-dark">
												<h:inputText value="#{cvBean.language}" id="lang" required="true"
													type="text" class="form-control "
													placeholder="Input Flat" requiredMessage="The candidate password field is mandatory." />
                                          <h:message for="lang" styleClass="alert-danger" />
											</div>
											<br></br>
											
											<h:commandButton value="Add cv" id="submit"
												class="btn btn-outline-primary"
												action="#{cvBean.addCv()}"
												 />			


			</h:form>
			
			
			
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
				
		 </section>

	</ui:define>
	

</ui:composition>


