<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="title">
		<title>Show cv</title>
	</ui:define>

	<ui:define name="content">

<style type="text/css">
    .ui-paginator a {
        margin-right: 5px;
    }
</style>



		<section class="section-container"> <!-- Page content--> 
		<h:panelGroup>
			<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>list of cvs</h4>

								</div>
								<h:form>
								

								<ui:repeat value="#{cvBean.cvs}" var="cv">
									<div class="col-md-4">

										<div class="card card-profile">

											<div class="card-avatar">
												<a href="#pablo"> <img class="img"
													src="./images/Kh.jpg" alt="" />
												</a>
											</div>

											<div class="card bg-info">
												

												<h6 class="card-category text-pink">
												
													<h:outputText value="#{cv.nomCv}"></h:outputText>
												</h6>

												<h4 class="card-title"></h4>
									
												<p class="card-description">
													<label class="col-sm-5 col-form-label">Skills : </label>
													<h:outputText value="#{cv.skills}"></h:outputText>
												</p>

												<p class="card-description">
													<label class="col-sm-5 col-form-label">Projects : </label>
													<h:outputText value="#{cv.project}"></h:outputText>
												</p>
												
												 <p class="card-description">
													<label class="col-sm-5 col-form-label">Language : </label>
													<h:outputText value="#{cv.language}"></h:outputText>
												</p>
												
												
												

											</div>
										</div>

									</div>
								</ui:repeat>
								
								
								
		
			</h:form>
			</div>
			</div>
			</div>
			
			
				
		
				
				
				
				</h:panelGroup >
		 </section>

	</ui:define>
	
	
</ui:composition>


