<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/WEB-INF/template/template.xhtml">
	
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<ui:define name="title">
		<title>Show Employe</title>
	</ui:define>

	<ui:define name="content">

<style type="text/css">
    .ui-paginator a {
        margin-right: 5px;
    }
</style>



		<section class="section-container"> <!-- Page content--> 
		<h:panelGroup>
			<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-title">
									<h4>list of employees</h4>

								</div>
								<h:form>

									<div class="card-body">
								
         
										<div class="table-responsive">
											<table class="table table-hover table-dark" >
												<thead>
													<tr>
														<th>Email</th>
														<th>Actif</th>
														<th>Last name</th>
														<th>First name</th>
														<th>Role</th>
														<th>Team</th>
														<th>Name cv</th>
														
<!-- 														<th>IMAGE</th> -->
													</tr>
												</thead>
												<tbody>
												
													<ui:repeat value="#{employeBean.employes}" var="employe">
														<tr>
															
															<td>#{employe.email}</td>
															<td><span class="badge badge-primary">#{employe.isActif == true ? 'Oui' : 'Non'}</span></td>
															<td>#{employe.nom}</td>
															<td>#{employe.prenom}</td>
															<td>#{employe.role}</td>
															<td>#{employe.team}</td>
															<td>#{employe.cv}</td>
															
<!-- 															<td> -->
<!-- 															 <o:graphicImage value="#{eventBean.getImage(listT.idEvent)}"  dataURI="true" /> -->
<!-- 															</td> -->
															<td><h:commandButton
																	class="btn btn-warning m-b-10 m-l-5" href="ADDEMPL.jsf"
																	action="#{employeBean.displayEmploye(employe)}"
																	value="Update"></h:commandButton>
																<h:commandButton class="btn btn-danger m-b-10 m-l-5"
																	action="#{employeBean.removeEmploye(employe.id)}"
																	value="Delete"></h:commandButton></td>
														</tr>
													</ui:repeat>
												</tbody>
											</table>
										</div>
									</div>
								</h:form>
							</div>
						</div>
				</div>
				</h:panelGroup>
				<h:panelGroup columns="2">
				
				<div class="row">
						<div class="col-lg-10">
							<div class="card">
								<div class="card-title">
									<h4>Add employe </h4>

								</div>
								<br/>
								<div class="card-body">
									<div class="basic-form">
			<h:form>
								<div class="row">
									<div class="col-sm-4">
									<h4>
										<h:outputText value="First name" />
										</h4>
									</div>
									<div class="col-sm-5">
										<h:inputText class="form-control" id="nomentre" required="true"
											requiredMessage="The candidate first name field is mandatory."
											value="#{employeBean.prenom}" />
										<h:message for="nomentre" styleClass="alert-danger" />
									</div>
									</div>



<br/>
<div class="row">
									<div class="col-sm-4">
									<h4>
									<h:outputText value="Role" />
									</h4>
											</div>
											<div class="col-sm-5">
											<h:selectOneMenu value="#{employeBean.role}" class="form-control" id="secteur" required="true"
												requiredMessage="The candidate role field is mandatory.">
								<f:selectItem itemValue="" itemLabel="To choose Role" />
								<f:selectItems  value="#{data.roles}" />
							</h:selectOneMenu>
							<h:message for="secteur" styleClass="alert-danger" />
										</div>
									</div>
<br/>

<div class="row">
									<div class="col-sm-4">
									<h4>
										<h:outputText value="Email" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:inputText class="form-control" id="mail" required="true"
											requiredMessage="The candidate email field is mandatory."
											value="#{employeBean.email}">
											<f:validateRegex pattern=".+\@.+\..+" />
										</h:inputText>
										<h:message for="mail" styleClass="alert-danger" />
									</div>
</div>
<br/>
<div class="row">

									<div class="col-sm-4">
									<h4>
										<h:outputText value="Last name" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:inputText class="form-control" id="nom" required="true"
											requiredMessage="The candidate last name field is mandatory."
											value="#{employeBean.nom}" />
										<h:message for="nom" styleClass="alert-danger" />
									</div>
</div>
<br/>

<div class="row">

									<div class="col-sm-4">
									<h4>
										<h:outputText value="Team"></h:outputText>
						
										</h4>
										</div>
										<div class="col-sm-5">
										<h:inputText class="form-control" id="tt" required="true"
											requiredMessage="The candidate team field is mandatory."
											value="#{employeBean.team}" />
										<h:message for="tt" styleClass="alert-danger" />
								</div>

</div>
<br/>

<div class="row">

									<div class="col-sm-4">
									<h4>
										<h:outputText value="Password" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:inputSecret class="form-control" id="pass" required="true"
											requiredMessage="The candidate password field is mandatory."
											value="#{employeBean.password}"/>
										<h:message for="pass" styleClass="alert-danger" />
									</div>

</div>
<br/>
									
			<div class="row">						
									
									<div class="col-sm-4">
									<h4>
										<h:outputText value="Actif / Inactif" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:selectBooleanCheckbox  class="form-control" id="is" required="true"
											requiredMessage="The candidate  field is mandatory."
											value="#{employeBean.isActif}" ></h:selectBooleanCheckbox>
										<h:message for="is" styleClass="alert-danger" />
									</div>
                                     
                                     </div>
                                     
                              
                  <br/>          
                              
                             
						<div class="row">						
									
									<div class="col-sm-4">
									<h4>
										<h:outputText value="Cv" />
										</h4>
										</div>
										<div class="col-sm-5">
										<h:selectOneMenu  class="form-control" id="i" required="true"
											requiredMessage="The candidate CV field is mandatory."
											value="#{employeBean.nomCv}" >
											<f:selectItem itemLabel="To choose" itemValue="" />
								            <f:selectItems value="#{employeBean.cvs}" />
											</h:selectOneMenu>
											
										<h:message for="i" styleClass="alert-danger" />
										
									</div>
                                     
                                     </div>
                                     
                              
                  <br/> 		


 
<div class="text-center">
                             
								<h:commandButton value="Update employee" id="submit"
												class="btn btn-outline-primary"
												action="#{employeBean.updateEmploye()}" />
									
</div>

			</h:form>
			</div>
			</div>
			</div>
			</div>
			</div>
			
				
		
				
				
				
				</h:panelGroup >
		 </section>

	</ui:define>
	
	
</ui:composition>


