<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"

	xmlns:p="http://primefaces.org/ui">

<h:head>
<title>Pie Chart</title>
</h:head>

	<h:body>





		<section class="section-container"> <!-- Page content--> 
	
		
			  
			  
			  
			  
			  <h:panelGrid columns="2">

				<p:chart type="pie" model="#{jobMarketBean.model}"
					style="width:1000px;height:600px" />

				
			</h:panelGrid>
				
			
		
		
				
		 </section>

	</h:body>
	

</ui:composition>


