<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="/WEB-INF/template/template.xhtml">
<link rel="stylesheet"  href="chart/css/bootstrap.css"/>
<link rel="stylesheet"  href="chart/css/pignose.layerslider.css"/>
<link rel="stylesheet"  href="chart/css/style.css"/>

	<ui:define name="title">
		<title>Home</title>
	</ui:define>

	<ui:define name="content">
	<h:panelGroup>
	<form>

	  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">ADVYTEAM</h2>
          <h3 class="section-subheading text-muted">THEY TRUSTED US</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-grin-beam fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Passion</h4>
          <p class="text-muted">Our employees, passionate about their job, are strongly involved in their work and embody with excellence and enthusiasm our high quality requirement.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Technology</h4>
          <p class="text-muted">Technological innovation as a vector of transformation.
          Enrich our customers' businesses with the best of new technologies.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Excellency</h4>
          <p class="text-muted">Because striving for excellence is a guarantee of our sustainability, we capitalize on our experiences to add value beyond the expectations of our customers.</p>
        </div>
      </div>
    </div>
  </section>

	</form>
	</h:panelGroup>

	</ui:define>



</ui:composition>