<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtmll/DTD/xhtmll-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:insert name="title"></ui:insert>

	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Bootstrap Admin App" />
	<meta name="keywords"
		content="app, responsive, jquery, bootstrap, dashboard, admin" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<!-- FONT AWESOME-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/%40fortawesome/fontawesome-free/css/brands.css" />
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/%40fortawesome/fontawesome-free/css/regular.css" />
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/%40fortawesome/fontawesome-free/css/solid.css" />
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/%40fortawesome/fontawesome-free/css/fontawesome.css" />
	<!-- SIMPLE LINE ICONS-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/simple-line-icons/css/simple-line-icons.css" />
	<!-- ANIMATE.CSS-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/animate.css/animate.css" />
	<!-- WHIRL (spinners)-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/whirl/dist/whirl.css" />
	<!-- =============== PAGE VENDOR STYLES ===============-->
	<!-- WEATHER ICONS-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/vendor/weather-icons/css/weather-icons.css" />
	<!-- =============== BOOTSTRAP STYLES ===============-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/bootstrap.css"
		id="bscss" />
	<!-- =============== APP STYLES ===============-->
	<link rel="stylesheet"
		href="${facesContext.externalContext.requestContextPath}/css/app.css"
		id="maincss" />
		<link rel="stylesheet" type="text/css" href="page login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/fonts/iconic/css/material-design-iconic-font.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/animate/animate.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/css-hamburgers/hamburgers.min.css"/>
	<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
	crossorigin="anonymous"/>
	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'/>
</h:head>

<h:body>
	<div class="wrapper">
      
		<ui:include src="/WEB-INF/include/header.xhtml"></ui:include>
		<ui:include src="/WEB-INF/include/sidebar.xhtml"></ui:include>
		  
		


 <section class="section-container">
		<div class="content-wrapper">
 <div class="content-heading">
               <div>Dashboard<small data-localize="dashboard.WELCOME"></small></div><!-- START Language list-->
               <div class="ml-auto">
                  <div class="btn-group"><button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>
                     <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu"><a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#" data-set-lang="es">Spanish</a></div>
                  </div>
               </div><!-- END Language list-->
            </div><!-- START cards box-->
			
<ui:insert name="content"></ui:insert>




		</div>

</section>

	</div>

  

	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/modernizr/modernizr.custom.js"></script>
	<!-- STORAGE API-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/js-storage/js.storage.js"></script>
	<!-- SCREENFULL-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/screenfull/dist/screenfull.js"></script>
	<!-- i18next-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/i18next/i18next.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/i18next-xhr-backend/i18nextXHRBackend.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/jquery/dist/jquery.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/popper.js/dist/umd/popper.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<!-- =============== PAGE VENDOR SCRIPTS ===============-->
	<!-- SLIMSCROLL-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>
	<!-- SPARKLINE-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/jquery-sparkline/jquery.sparkline.js"></script>
	<!-- FLOT CHART-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/flot/jquery.flot.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/flot/jquery.flot.resize.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/flot/jquery.flot.pie.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/flot/jquery.flot.time.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/flot/jquery.flot.categories.js"></script>
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/jquery.flot.spline/jquery.flot.spline.js"></script>
	<!-- EASY PIE CHART-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/easy-pie-chart/dist/jquery.easypiechart.js"></script>
	<!-- MOMENT JS-->
	<script
		src="${facesContext.externalContext.requestContextPath}/vendor/moment/min/moment-with-locales.js"></script>
	<!-- =============== APP SCRIPTS ===============-->
	<script
		src="${facesContext.externalContext.requestContextPath}/js/app.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		 <script src="chart/js/bootstrap-3.1.1.min.js"></script>
		  <script src="chart/js/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</h:body>
</html>
