<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
 xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" 
  xmlns:ui="http://java.sun.com/jsf/facelets">

 <ui:param name="page_name" value="Connexion" /> 
	
	<title>Login </title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"/>

	<link rel="stylesheet" type="text/css" href="page login/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/fonts/iconic/css/material-design-iconic-font.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/animate/animate.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/css-hamburgers/hamburgers.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/endor/animsition/css/animsition.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/select2/select2.min.css"/>
	<link rel="stylesheet" type="text/css" href="page login/vendor/daterangepicker/daterangepicker.css"/>
	<link rel="stylesheet" type="text/css" href="page login/css/util.css"/>
	<link rel="stylesheet" type="text/css" href="page login/css/main.css"/>
	
	
	<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
	   <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
	  <h:form  id="form" class="login100-form validate-form">
	
	<span class="login100-form-title p-b-37">
					Sign In
				</span>
				 <h:outputText value="EMAIL :" />
	<div class="wrap-input100 validate-input m-b-20">
					<h:inputText class="input100" type="text"  value="#{loginBean.login}" name="username" />
					<span class="focus-input100"> </span>
				</div>
				<h:panelGroup>	
			 <h:outputText value="PASSWORD:" />	
			 </h:panelGroup>	
	<div class="wrap-input100 validate-input m-b-25" >
					<h:inputSecret class="input100"  type="password"  value="#{loginBean.password}" name="pass" />
					<span class="focus-input100"></span>
				</div>
	
	
	<div class="container-login100-form-btn">
	<h:commandButton id="btn" class="login100-form-btn" value="Sign In" action="#{loginBean.doLogin()}" />
	<h:message for="btn"/> 
				</div>
	
	
	
	
	
	
	
	
	
	</h:form>
	
		  
	</div>
	</div>
	
	<div id="dropDownSelect1"></div>
	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
 </ui:composition>